.footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .social-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #ffff;
  }
  
  